:root {
    --card-shadow: 0px 0px 2px 0px rgba(153, 153, 153, 0.25), 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    --border-color: #E0E0E0;
    --spacing: 24px;
}

/****** Interior Header Title *******/
#InteriorPageTitle {
    position: relative;
    background: var(--hl-bs--primary);
    padding: var(--spacing);
}

#InteriorPageTitle>div {
    position: relative;
    z-index: 5;
}

#InteriorPageTitle svg {
    display: none;
}

#InteriorPageTitle::after {
    content: '';
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    mix-blend-mode: soft-light;
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/ECONVERSETEST/c1b65cc9-eb19-48eb-9619-1c784c9c7071/UploadedImages/Dev_Files/lightlight-swoosh_1_.png');
}

#InteriorPageTitle.has-bg-img {
    position: relative;
}


/****** community landing page ******/

body.ribbit.interior #MainCopy_ContentWrapper:has(> .row:nth-child(2).bg-gray)>.row:nth-child(2).bg-gray {
    margin-top: -40px;
}

.bg-gray {
    background-color: var(--hl-bs--gray-100);
}

body.ribbit.community-pages #MPOuterMost #MPOuter .no-community-html {
    padding: 0;
    margin: 0;
}

body.ribbit.community-pages #MPOuterMost #MPOuter .no-community-html+div[class*="padding"] {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.summary-edit .Content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.summary-edit .Content .img-container {
    width: 42%;
}

.summary-edit .Content .text-container {
    width: 58%;
    padding-right: 115px;
}

.summary-edit .Content>ul {
    width: 25%;
    padding-left: 15px;
    list-style-type: none;
}

.summary-edit .Content ul+.text-container {
    width: 75%;
}

.summary-edit .Content>.text-container:first-child {
    width: 100%;
    padding-right: 0;
}

/****** tabs ******/
body.ribbit .community-tabs-container-outer {
    background: transparent;
    margin-top: -78.5px;
    margin-bottom: 36px;
    margin-left: calc(50% - 584px);
    margin-right: calc(50% - 584px);
    width: auto;
    position: relative;
    z-index: 5;
}

body.ribbit.groupdetails .community-tabs-container-outer {
    margin-bottom: 0;
}

body.ribbit .community-tabs-container #CommunityTabsContainer.nav.nav-tabs li {
    border: none;
}

body.ribbit .community-tabs-container #CommunityTabsContainer.nav.nav-tabs li a {
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
    color: var(--ui-heading-text);
    padding: 8px 16px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.08) inset;
    text-transform: none;
    height: 36px;
    margin-right: 8px;
}

body.ribbit .community-tabs-container #CommunityTabsContainer.nav.nav-tabs li a:is(:hover, :focus),
body.ribbit .community-tabs-container #CommunityTabsContainer.nav.nav-tabs li.active a {
    color: var(--ui-heading-text);
    background-color: #fff;
    box-shadow: none;
}

body.ribbit .community-tabs-container #CommunityTabsContainer.nav.nav-tabs li a .badge {
    color: var(--hl-bs--secondary-opposite);
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.25px;
    font-weight: 600;
    padding: 2px 5px;
    border-radius: 10px;
    background: var(--hl-bs--secondary);
    float: right;
    margin-top: 3px;
    margin-left: 8px;
}

/*** mobile tabs ***/
body.ribbit .community-tabs-container #CommunityTabsContainer.nav.nav-tabs .dropdown li a {
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid var(--hl-bs--gray-100);
    box-shadow: none;
    margin-right: 0;
}

body.ribbit .community-tabs-container #CommunityTabsContainer.nav.nav-tabs .dropdown li:last-child a {
    border-bottom: none;
}

body.ribbit .community-tabs-container #CommunityTabsContainer.nav.nav-tabs .dropdown li a .badge {
    float: none;
    margin-top: 0;
}

/*** interior widgets ***/

.groupdetails #MPOuterMost #MPOuter .HLLandingControl h2,
.groupdetails #MPOuterMost #MPOuter .HLLandingControl h3 a,
.groupdetails #MPOuterMost #MPOuter .HLLandingControl .col-md-9 a {
    color: var(--ui-heading-text);
    font-weight: 700;
    font-size: 14px;
}

.groupdetails #MPOuterMost #MPOuter .HLLandingControl a[biobubblekey] {
    text-decoration: none;
}

.groupdetails #MPOuterMost #MPOuter .HLLandingControl h2 {
    border-bottom: 1px solid var(--border-color);
    padding: 10px var(--spacing);
    margin: 0 -15px 20px;
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    background-color: var(--hl-bs--gray-200);
}

.groupdetails #MPOuterMost #MPOuter .HLLandingControl {
    border-radius: var(--border-radius-large);
    box-shadow: var(--card-shadow);
    padding-bottom: 14px;
}

.groupdetails #MPOuterMost #MPOuter .col-md-4 .HLLandingControl {
    margin-bottom: 24px;
}

.groupdetails #MPOuterMost #MPOuter .HLLandingControl p[id*="DiscussionList_ContentPanel"] {
    margin-top: 16px;
}

.groupdetails #MPOuterMost #MPOuter .HLLandingControl div[id*="BottomLink"] .col-md-12>a {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--ui-heading-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.25px;
    text-transform: none;
}

.groupdetails #MPOuterMost #MPOuter .HLLandingControl div[id*="BottomLink"] .col-md-12>a::after {
    font-family: var(--fa-family-classic);
    font-weight: 900;
    content: '\f061';
    margin-left: 8px;
    font-size: 12px;
    vertical-align: middle;
    color: var(--hl-bs--primary);
}

.groupdetails .label-success {
    background-color: var(--hl-bs--primary);
}